/* Grassroots Al-Quds Custom CSS */

html {
	height: 100%;
	background: #efefe7 url(../images/bg.png) repeat 0 0;
	}
body {
	color: #333;
	height: 100%;
	background: inherit;
	font-size: 14px;
	}
iframe html {
	background: #fff;
	}

/* RTL support */
body.i18n-ar {
  direction: rtl;
}

/* structure */
#main .block-views,
#main .quicktabs_main {
	background: #FCFBE7;
	margin-bottom: 10px;
	border: 1px solid #b0ab9e;
	box-shadow: 3px 3px 0 #b0ab9e;
	-moz-box-shadow: 3px 3px 0 #b0ab9e;
	-webkit-box-shadow: 3px 3px 0 #b0ab9e;
	}

/* block adjustments for quicktabs */
#main-content .quicktabs_main .block-views {
	border: 0;
	margin: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	width: auto;
	}

/* headers */
h2.page-title {
	margin-bottom: 12px;
	font-size: 28px;
	line-height: 30px;
	}
h3 {
	line-height: 24px;
	}

/* global */
fieldset {
	border: 0;
	}
p,li {
	font-size: 14px;
	}


/* links */
a:link,
a:active {
	color: #496E1C;
	}

/* lists */
.item-list ul {
	margin: 0;
	}
.item-list ul li {
	list-style-type: none;
	margin: 0;
	}

/* reset (Drupal defaults) */
.block ul {
	padding: 0;
	}


/*//	HEADER TOP */

#header_right_top {
	overflow: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #D4D4D4;
	box-shadow: 0 1px 0 #eee;
	font-size: 11px;
	}
#header_right_top div.block {
	}
#header_right_top div.block h3 {
	display: none;
	}
#header_right_top form {
	margin: 0;
	font-size: 10px;
	}
#header_right_top label,
#header_right_top input {
	font-size: 11px;
	}
#header_right_top .form-item {
	float: left;
	margin: 0;
	margin-right: 8px;
	}
#header_right_top label {
	display: inline;
	}
#header_right_top .item-list {
	float: left;
	display: none;
	}

/* user login */
.block-user h3 {
	display: none;
	}
#user-login-form {
	overflow: hidden;
	margin: 0;
	}
#user-login-form label {
	float: left;
	margin-right: 10px;
	margin-bottom: 0;
	padding: 5px 0;
	text-align: left;
	font-size: 11px;
	}
#user-login-form input.form-text {
	float: left;
	width: 150px;
	font-size: 11px;
	}
#user-login-form .form-item {
	clear: left;
	}
#user-login-form input.form-submit {
	float: right;
	}
#user-login-form .pagination {
	height: auto;
	margin: 0;
	padding-right: 70px;
	text-align: right;
	}
#user-login-form .pagination a {
	padding: 0;
	border: 0;
	background: none;
	line-height: 14px;
	font-size: 10px;
	}

/* language translation */
.block-locale {
	float: right;
	}
.block-locale ul li {
	display: inline;
	list-style-type: none;
	}
.block-locale ul li a {
	display: block
	float: left;
	margin-left: 10px;
	padding: 5px 8px;
	background-color: rgba(206,206,206,.4);
	border-radius: 3px;
	-moz-border-radiues: 3px;
	-webkit-border-radius: 3px;
	}
.block-locale ul li a:hover,
.block-locale ul li a.active {
	text-decoration: none;
	background-color: rgba(206,206,206,.8);
	}

/* search */
#header-top .block-search label {
	display: none;
	}



/*//  HEADER */
#header_wrapper {
	}
#header{
	position: relative;
	}
h1#site-name {
	margin: 10px 0;
	font-size: 40px;
	height: 120px;
	background: url(../images/banner.png) no-repeat 0 0;
	text-indent: -999em;
	}
h1#site-name a {
	display: block;
	color: #000;
	height: 120px;
	}
h1#site-name a:hover {
	text-decoration: none;
	}


/* logo */
#logo {
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	background-color: #24211e;
	width: 225px;
	height: 200px;
	margin: 0;
	float: none;
	}
#logo a {
	display: block;
	text-align: center;
	padding: 20px;
	}

/* nav */
#primary-menu {
	background: #496E1C url(../images/nav_bg.png) repeat 0 0;
	}
#primary-menu ul {
	border: 0;
	}
#primary-menu ul li {
	margin: 0;
	padding: 0;
	border: 0;
	}
#primary-menu ul li a:hover,
#primary-menu ul li:hover a:link,
#primary-menu ul li:hover a:visited,
#primary-menu ul li.hover a:link,
#primary-menu ul li.hover a:visited,
#primary-menu ul li.active-trail a:link,
#primary-menu ul li.active-trail a:visited,
#primary-menu ul li a:link,
#primary-menu ul li a:visited {
	display: block;
	float: left;
	background: none;
	color: #FFF;
	font-size: 16px;
	padding-top: 12px;
	padding-bottom: 14px;
	text-shadow: 1px 1px 1px #222;
	margin: 0;
	text-decoration: none;
	text-align: center;
	border-left: 1px solid #5D793B;
	border-right: 1px solid #405329;
	/*width: 137px;*/
	padding: 12px 22px 13px;
	font-weight: bold;
	}
#primary-menu ul li.first,
#primary-menu ul li.last {
	height: 44px;
	}
#primary-menu ul li.first {
	border-left: 1px solid #405329;
	}
#primary-menu ul li.last {
	border-right: 1px solid #5D793B;
	}
#primary-menu ul li.first a {
	}
#primary-menu ul li:hover a,
#primary-menu ul li.hover a,
#primary-menu ul li.sfHover a,
#primary-menu ul li.active-trail a {
	background: rgba(48,64,30,.5) !important;
	text-shadow: 1px 1px 1px #444;
	}
/* Second level */
#primary-menu ul li:hover ul,
#primary-menu ul li.hover ul,
#primary-menu ul li.sfHover ul {
	border: 0;
	font-size: 86%;
	margin-top: 12px;
	position: absolute;
	text-align: left;
	text-transform: none;
	width: 150px;
	z-index: 2;
	font-weight: normal;
	color: #fff;
	border: 0;
	background: none;
	}
#primary-menu ul li:hover ul li,
#primary-menu ul li.hover ul li,
#primary-menu ul li.sfHover ul li {
	background: transparent;
	border-bottom: 0;
	text-shadow: 1px 1px 1px #436816;
	padding-left: 0;
	}
#primary-menu ul li:hover ul li.last,
#primary-menu ul li.hover ul li.last,
#primary-menu ul li.sfHover ul li.last {
	border-bottom: 0;
	}
#primary-menu ul li ul li a:link,
#primary-menu ul li ul li a:visited {
	background: none;
	color: #222;
	padding: 5px 8px 5px 16px;
	font-size: 13px;
	text-shadow: none;
	}
#primary-menu ul li ul li a:hover {
	color: #fff;
	text-shadow: none;
	background-color: #4b711b;
	}

#primary-menu ul li ul li a.active {
	text-decoration: underline;
	}

/* Third level */
#primary-menu ul li:hover ul li ul,
#primary-menu ul li.hover ul li ul,
#primary-menu ul li ul li ul {
	font-size: 100%; /* 11px/12px */
	margin-left: 34px;
	margin-top: -2px;
	}

/* Primary menu - Nolink */
#primary-menu ul li span.nolink  {
	background: transparent url(../images/tab-right.png) no-repeat 100% 0;
	color: #154B70;
	display: block;
	padding: 5px 10px 1px 0;
	text-decoration: none;
	}
#primary-menu ul li span.nolink:hover,
#primary-menu ul li span.nolink.hover,
#primary-menu ul li:hover span.nolink,
#primary-menu ul li.hover span.nolink,
#primary-menu ul li.active-trail span.nolink {
	background-position: right -46px;
	color: #fff;
	}
#primary-menu ul.sf-menu li.sfHover ul li span.nolink,
#primary-menu ul li:hover ul li span.nolink,
#primary-menu ul li.hover ul li span.nolink {
	color: #154B6F;
	padding-left: 10px;
	}
#primary-menu ul li:hover ul li span.nolink:hover,
#primary-menu ul li.hover ul li span.nolink.hover {
	color: #fff;
	}



/* CONTENT */

#main {
	background: none;
	padding-top: 15px;
	}

/* breadcrumbs */
.breadcrumbs {
	font-size: 11px;
	color: #888;
	}
.breadcrumbs a {
	text-decoration: none;
	color: #999;
	}
.breadcrumbs a:first-child {
	margin-left: 0;
	}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
	color: #333;
	}
.breadcrumbs a:active {
	color: #666;
	}
.breadcrumbs strong {
	margin-left: 5px;
	font-weight: bold;
	color: #333;
	}

/* editor tabs */
#content-tabs {
	margin: 10px 0;
	}

h1.title {
	border: 0;
	clear: left;
	font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, Trebuchet MS, sans-serif;
	font-size: 240%;
	font-weight: bold;
	line-height: 180%;
	margin-bottom: 5px;
	}

/* tags */
.group-tags {
	}

/* pagination */
.pagination a {
	background-color: #fff;
	}



/* BLOCKS */

.block-views h2,
.block-views h3:first-child {
	margin: 4px 8px;
	border-bottom: 1px solid #E4E3D1;
	font-size: 18px;
	}
.block-views .content {
	margin: 8px;
	}
.block-views .content h3,
.block-views .content h4 {
	border: 0;
	padding: 0;
	margin: 0;
	}

/* sidebar blocks */




/* PAGE: Homepage */

body.front #main {
	}

/* welcome */
#block-block-16 {
	}
#block-block-16.block .inner {
	margin: 0;
	}
#block-block-16 h2.title {
	font-weight: normal;
	font-style: italic;
	font-size: 300%;
	line-height: 1em;
	font-family: Georgia, serif;
	text-shadow: 1px 1px 0 #fff;
	}
#block-block-16 p {
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	text-shadow: 1px 1px 0 #fff;
	}

/* 	featured stories blocks
		this class is set in the views
		*/
.block-feature-stories	 {
	position: relative;
	overflow: hidden;
	height: 500px;
	}
.block-feature-stories .view-features {
	margin: 0;
}
.block-feature-stories .views-field-title,
.block-feature-stories .views-field-body,
.block-feature-stories a.read-more {
	color: #fff;
	background-color: rgba(0,0,0,.85);
	font-weight: bold;
}
.block-feature-stories .views-field-title {
	margin-top: 1px;
}
.block-feature-stories .views-field-title a {
	display: block;
	padding: 6px 19px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
	font-size: 20px;
}
.block-feature-stories .views-field-title a:hover {
	color: #fff;
	text-decoration: none;
}
.block-feature-stories .views-field-title h3 {
	margin: 0;
	color: #fff;
}
.block-feature-stories .views-field-body {
	padding: 8px 19px;
}
.block-feature-stories .views-field-body p {
	margin: 0;
}
.block-feature-stories . {
	}
.block-feature-stories a.read-more {
	display: block;
	padding: 5px 12px 5px 20px;
	text-shadow: 1px 1px 1px #000;
	font-size: 14px;
}
.block-feature-stories .views-slideshow-controls-bottom {
	position: absolute;
	bottom: 0;
	background-color: #496E1C;
	height: 26px;
	padding: 4px 8px;
	width: 512px;
}
.block-feature-stories .pager-item a {
	display: block;
	float: left;
	margin: 2px;
	padding: 2px 7px;
	color: #fff;
	font-weight: bold;
	border-radius: 4px;
	background-color: #74ad2d;
}
.views-slideshow-controls-bottom .activeSlide a {
	background-color: #333;
	}

/* latest stories */
.latest-stories {
	font-size: 11px;
	}
.latest-stories .content h2 {
	margin-bottom: 5px;
	}
.latest-stories .content h3 {
	margin-bottom: 0;
	font-size: 16px;
	}
.latest-stories ul {
	margin: 0;
	}
.latest-stories ul li {
	list-style-type: none;
	padding: 3px 0;
	overflow: hidden;
	}
.latest-stories li p {
	font-size: 12px;
	}
.latest-stories ul li div.views-field-field-image-fid {
	overflow: hidden;
	float: left;
	margin-right: 10px;
	padding: 2px;
	border: 1px solid #ddd;
	}
.latest-stories ul li img {
	vertical-align: top;
	}

/* map */
#content-region .block .inner {
	margin: 0;
}
#content-region .block {
	margin-bottom: .75em;
}


/* PAGES: Organizations & Communities */

/* page content */
body#organizations #main .node .content p:first-child,
body#communities #main .node .content p:first-child {
	font-size: 19px;
	line-height: 26px;
	text-shadow: 1px 1px 0 #fff;
	}

/* remove page content block bgs */
#main #block-views--exp-places-block_2,
#main #block-views-places-block_2 {
	background: none !important;
	border: 0 !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	}
#main #block-views-places-block_2 .content {
	margin: 0;
	}

/* maps */
.community-map .view-footer p {
	margin: 6px 0;
	font-weight: bold;
	}

body#organizations #main .views-row,
body#communities #main .views-row {
	margin: 5px 0;
	padding: 5px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	}


/* lists */
body#organizations #main .views-row .views-field-title,
body#communities #main .views-row .views-field-title {
	font-size: 130%;
	font-weight: bold;
	margin-bottom: 8px;
	}
.field-field-logo {
	float: left;
	margin-right: 20px;
	padding: 4px;
	border: 1px solid #ddd;
	background: #fff;
	}
.content .field {
	margin-bottom: 4px;
	}



/*//	STORIES */

.view-stories .item-list li.views-row {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #D4D4D4;
	}
body#stories .view-stories h3 {
	font-size: 22px;
	line-height: 26px;
	}
body#stories .views-field-created {
	border-top: 1px solid #eee;
	margin-top: 3px;
	padding-top: 3px;
	margin-bottom: 10px;
	font-style: italic;
	font-weight: bold;
	font-size: 90%;
	}
.view-stories .views-field-field-image-fid {
	float: left;
	margin: 0 15px 15px 0;
	}

/*//	STORY pages */

/* meta information */
.meta {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	}
.submitted {
	font-style: italic;
	}
.submitted a {
	font-weight: bold;
	}


/*//	=MODULES */

/* quicktabs */
.block-quicktabs {
	padding-top: 15px;
	}
.block-quicktabs h3 {
	display: none;
	}
#main .quicktabs_main .block-views {
	border: 0;
	margin: 10px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	}
ul.quicktabs_wrapper {
	padding-bottom: 5px;
	}
ul.quicktabs_tabs {
  *zoom: 1;
  border: 0;
}
ul.quicktabs_tabs:before,
ul.quicktabs_tabs:after {
  display: table;
  content: "";
}
ul.quicktabs_tabs:after {
  clear: both;
}
ul.quicktabs_tabs > li {
  float: left;
  padding: 0;
}
.quicktabs_tabs > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 1px;
  line-height: 14px;
}
ul.quicktabs_tabs {
  border-bottom: 1px solid #ddd;
}
ul.quicktabs_tabs > li {
  margin-bottom: -1px;
}
.quicktabs_tabs > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
ul.quicktabs_tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
ul.quicktabs_tabs > .active > a, .quicktabs_tabs > .active > a:hover {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.quicktabs_main {
	
	}


/* rows */
.quicktabs_tabpage .block {
	margin-bottom: 0;
	}
.views-row {
	overflow: hidden;
	}
.views-row label {
	font-weight: bold;
	}

.field-content p {
	margin-top: 0;
	}


/*//	=FOOTER */

#footer_wrapper {
	margin-top: 1em;
	padding: 2em 0;
	background: #5E3216;
	border-top: 1px solid #000;
	color: #fff;
	}
#footer block {
	margin-bottom: 15px;
	}
#footer h2,
#footer h3 {
	margin: 0 0 5px 0;
	font-size: 18px;
	line-height: 22px;
	padding-bottom: 4px;
	border-bottom: 1px solid #4C2812;
	margin-bottom: 8px;
	}
#footer p {
	color: #9A5224;
	}
#footer a {
	color: #fff;
	}
#footer a:hover {
	color: #496E1C;
	text-decoration: underline;
	}
#footer .block-views .content {
	margin: 0;
	}

/* lists */
.view-organizations .views-row,
#footer ul.menu li a {
	display: block;
	padding: 4px 0;
	border-bottom: 1px solid #4C2812;
	margin: 0;
	}
#footer ul.menu,
#footer ul.menu li {
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	}

/* ads */
#footer-group-inner img {
	margin: 8px 0;
	}

/* messages */
.footer-message-wrapper {
	background: #24211e;
	}
.footer-message {
	border: 0;
	padding: 0;
	}
